<form class="col-6 m-auto mt-5" #form="ngForm" (ngSubmit)="onFormSubmit(form)">
  <div class="mb-3">
    <label for="name" class="form-label">Enter User name</label
    ><input
      ngModel
      name="name"
      type="text"
      placeholder="Enter here"
      class="form-control"
      required
    />
  </div>
  <div class="mb-3">
    <label for="surName" class="form-label">Enter User surName</label
    ><input
      ngModel
      name="surName"
      type="text"
      placeholder="Enter here"
      class="form-control"
      required
    />
  </div>
  <div class="mb-3">
    <label for="id" class="form-label">Enter User id</label
    ><input
      ngModel
      name="id"
      type="text"
      placeholder="Enter here"
      class="form-control"
      pattern="^\d{9}$"
      required
    />
    <div
      *ngIf="form.controls['id']?.touched && (form.controls['id']?.errors?.['pattern'] != undefined || form.controls['id']?.errors?.['required'] != undefined)"
      style="color: red"
      id="emailHelp"
      class="form-text"
    >
      ფორმატი არასწორია
    </div>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Enter User email</label
    ><input
      ngModel
      name="email"
      type="text"
      placeholder="Enter here"
      class="form-control"
      required
    />
    <div
      *ngIf="form.controls['email']?.touched && form.controls['email']?.errors?.['required'] != undefined"
      style="color: red"
      id="emailHelp"
      class="form-text"
    >
      ფორმატი არასწორია
    </div>
  </div>
  <div ngModelGroup="address">
    <div class="mb-3">
      <label for="country" class="form-label">Enter User country</label
      ><input
        ngModel
        name="country"
        type="text"
        placeholder="Enter here"
        class="form-control"
      />
    </div>
    <div class="mb-3">
      <label for="city" class="form-label">Enter User city</label
      ><input
        ngModel
        name="city"
        type="text"
        placeholder="Enter here"
        class="form-control"
      />
    </div>
    <div class="mb-3">
      <label for="str" class="form-label">Enter User str</label
      ><input
        ngModel
        name="str"
        type="text"
        placeholder="Enter here"
        class="form-control"
      />
    </div>
  </div>
  <div class="mb-3">
    <button [disabled]="false" type="submit" class="btn btn-success">
      Submit
    </button>
    <button
      (click)="setDefaultValue(form)"
      type="button"
      class="btn btn-success"
    >
      Submit
    </button>
  </div>
</form>
